body {
  background: #0e7e12;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 500px;
  font-size: 80px;
  width: 300px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
  }
  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
  }

  &.spade:before,
  &.spade::after {
    content: "\2660";
  }
  &.club:before,
  &.club::after {
    content: "\2663";
  }
  &.heart:before,
  &.heart::after {
    content: "\2665";
  }
  &.diamond:before,
  &.diamond::after {
    content: "\2666";
  }
}
