body {
  background: #0e7e12;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 300px;
  font-size: 80px;
  width: 300px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
}
.topSim {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 80px;
}
.botSim {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 80px;
}
.red {
  color: red;
}
